<main class="container">
    <div class="mt-4">
        <h4 class="text-center fw-bold mb-4">{{project.name}}</h4>
        <div class="row g-md-5 g-0  gy-md-0 gy-2">
            <div class="col-md-8 col-12">
                <div class="w-100 detail-image">
                    <img class="w-100 detail-image h-100" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        src="/public/data/uploads/{{project.image}}" />
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="duration">
                    <h5 class="fw-bold">Duration</h5>
                    <p><img class="icon-detail" src="/public/assets/icons/calender.svg" /> {{project.startdate}} -
                        {{project.enddate}}
                    </p>
                    <p><img class="icon-detail" src="/public/assets/icons/clock.svg" /> {{project.duration}}</p>
                </div>
                <div class="technologies-detail mt-3">
                    <h5 class="fw-bold">Technologies</h5>
                    <div>
                        {{#each project.technologies}}
                        <img class="icon-detail " src="/public/assets/icons/{{this}}.svg" />
                        {{!-- <img src="/public/assets/icons/playstore.svg" alt="">
                        <img src="/public/assets/icons/android.svg" alt="">
                        <img src="/public/assets/icons/java.svg" alt=""> --}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 g-0">
            <p>{{project.description}}</p>
        </div>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mw-100">
        <div class="modal-content container bg-transparent border-0">
            <button type="button" class="btn text-white fw-bold ms-auto" data-bs-dismiss="modal"
                aria-label="Close">&#9587;</button>
            <img src="/public/data/uploads/{{project.image}}" />

        </div>
    </div>
</div>